*{
    margin: 0%;
    padding:0%;
    color: white;
    font-family: sans-serif;
}
.container{
    width:100%;
    height: 100vh;
    background-image: url(./background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-transform: uppercase;
    font-size: 2.4rem;
    
}
button{
    padding: 1.5rem;
    width: 200px;
    border: none;
    box-shadow: 0 0 10px rgb(0,0,0,0.3);
    background-color:#d75e61;
    margin: 30px;
    cursor: pointer;
    font: 100 1.5rem sans-serif;
    border-radius: 50px;
}
button:hover{
    background-color: rgb(50,50,50);
    color:#fff;
}
.counterTimer{
    display: flex;
}
.counterTimer > p{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.counterTimer > p> span{
    display: block;
    font-size: 4rem;
}